{% extends "base.html" %}

{% block content %}
<p>
<div>
<a href="blog">View existing posts.</a>
</div>
<div>
<a href="newpost">Create a new post.</a>
</div>
</p>

<p>
{% for blogPost in blogPosts%}
<div class="blogPost">
    <div class="blogPost-title">
    	<a href="/blog/{{ blogPost.key().id() }}">{{blogPost.title}}</a>
    	<input type="hidden" name="blog-post-link" value="{{blogPost.key().id()}}"/>
    </div>
    <pre class="blogPost-body">{{blogPost.blogPost}}</pre>
</div>
{% endfor %}
</p>

{% endblock %}
