body{
    font-family: sans-serif;
    width: px;
    margin: 0 auto;
    padding: 10px;
}

.error{
    color: red;
}

label{
    display: block;
    font-size: 20px;
}

input[type=submit]{
    font-size: 24px;
}

hr{
    margin: 20px auto;
}

.blogPost + .blogPost{
    margin-top: 20px;
}

.blogPost-title{
    font-weight: bold;
    font-size: 20px;
}

.blogPost-body{
    margin: 0;
    font-size: 17px;
}
